.btn-primary {
  width: clamp(100%, 10rem, 12rem);
  background-color: $secondary;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 0.3rem;
  color: $tertiary;
  font-weight: 600;
  filter: drop-shadow(0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.07));
}

.btn-cv {
  position: relative;
  width: 3rem;
  background-color: $primary;
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: #fefefe !important;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  filter: drop-shadow(0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.07));

  ion-icon {
    position: absolute;
    top: 0.8rem;
    margin-left: 0.3rem;
  }

  &:hover {
    background-color: $tertiary;
    color: $secondary !important;
  }
}

.inline-copy {
  margin-top: 0.6rem;
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  background-color: $tertiary;
  color: $secondary;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;

  .confirmation {
    position: absolute;
    visibility: hidden;
    background-color: $secondary;
    color: $tertiary;
    top: 0.1rem;
    right: -5rem;
    padding: 0.4rem;
    border-radius: 2px;
  }

  .show {
    translate: translate all ease-in-out;
    visibility: visible;
    -webkit-animation: popup 0.5s;
    animation: popup 0.5s;
  }

  ion-icon {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    pointer-events: none;
  }

  @-webkit-keyframes popup {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 0;
      transform: translateY(-5px);
    }
  }

  @keyframes popup {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 0;
      transform: translateY(-5px);
    }
  }
}
