
.gallery{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: 100vw;
    height: 700px;
}

.slide {
    background-color: #000;
    width: 100vw;
    height: 100%;
    &>.content {
        display: block;
        padding: 1rem 1.5rem;
    }

    &>img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 700px;
    }
}