
.gallery{
    display: grid;
    grid-auto-flow: column;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    &  .slide {
        display: block;
        width: 100vw;
        height: calc( 100vh - 15rem);
        scroll-snap-align: start;
        &>div{
            display: block;
            width: 100%;
            height: auto;
        }

        &>img{
            object-fit: contain;
            object-position: center;
            width: 100%;
            height: auto;
        }
    }

}