
#album-gallery{
    width: 100%;
    height: 100%;
    .gallery {
        position: relative;
        display: grid;
        height: 100%;
        grid-auto-flow: column;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        &  .gallery-page {
            display: block;
            min-width: 100vw;
            height: 100%;
            scroll-snap-align: start;
        }
    }
}