.social-links{
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 2rem;
    margin-top: 2rem;
    padding-top: 0.5rem;

    a{
        display: inline-block;
        height: 32px;
        width: 32px
    }
}

.link-cv {
    background: $primary;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 2rem;
    padding-top: 5%;
    margin-top: 0.1rem;
    &:hover{
        background-color: $tertiary;
    }
}

#cv{
    color: #fefefe;
    &:hover{
        color: $tertiary;
    }
}

@media screen and (max-width: 768px ){
    .social-links{
        margin: 2rem auto;
    }
}