@import 'album.scss';
@import 'nav.scss';
@import 'header.scss';
@import 'social.scss';

$primary: #27ae60;
$secondary: #b8e994;
$tertiary: #485460; 


*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 14pt;
    min-height: 100vh;
    min-height:  -webkit-fill-available;   
}

.opened-drawer {
    overflow: hidden;
}

.container {
    display: block;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

h1, 
h2, 
h3 {
    font-family:'Ubuntu Condensed', sans-serif; 
}

strong {
    font-weight: 800;
}

a {
    position: relative;
    text-decoration: none;
    color:$primary;
    z-index: 10;
    font-weight: bold;
}
.my_head{
    display: inline-block;
    width: 40%;
    img{
        display: block;
        width: 100%;
        height: auto;
    }
}

.link::before {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(transparent 50%, $secondary 50%, $secondary 85%,transparent 85%,transparent 100%);
    width: 0;
    height: 50px;
    bottom: -5px;
    left: 0;
    z-index: -1;
    background-size: 0 100%;
    transition: all 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -webkit-transition: all 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.link:hover {
    color:$tertiary;
}

.link:hover::before {
    width: 100%;
    background-size: 100% 100%;
}

.intro_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.intro {
    display: inline-block;
    width: 50%;
    padding-bottom:2rem;
    border-bottom: #9aa2aa solid 1px;
    margin-top: 1rem;
}


@media screen and (max-width: 768px ){
    .container{
        flex-direction: column;
    }

    .my_head,
    .intro {
        width: 100%;
        border: none;
    }
}