@import 'default';
@import 'nav';
@import 'header';
@import 'error';
@import 'button';
@import 'error';
@import 'social';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 14pt;
    min-height: 100vh;
    min-height:  -webkit-fill-available;   
    -moz-osx-font-smoothing: grayscale;
}

.body {
    background: #f5f6fa;
}

.body-dark {
    background: $dark;
    color: $secondary;
}

.opened-drawer {
    overflow: hidden;
}

.container {
    display: block;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

h1, 
h2, 
h3 {
    font-family:Roboto, sans-serif; 
}

strong {
    font-weight: 700;
}

a {
    position: relative;
    text-decoration: none;
    z-index: 10;
    font-weight: bold;
}

.body-dark {
    & * a {
        color: #dfe4ea;
    }
}

.body{
    & * a {
        color: $primary;
    }
}
.my_head{
    display: inline-flex;
    position: relative;
    justify-content: center;
    width: 40%;
    img{
        width: 100%;
        height: auto;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        object-fit: cover;

        @media screen and (max-width:765px){
            &{
                width: 10rem;
                height: 10rem;
            }
        }
    }


}

.link::before {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(transparent 50%, $secondary 50%, $secondary 85%,transparent 85%,transparent 100%);
    width: 0;
    height: 50px;
    bottom: -5px;
    left: 0;
    z-index: -1;
    background-size: 0 100%;
    transition: all 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -webkit-transition: all 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.link:hover {
    color:$tertiary;
}

.link:hover::before {
    width: 100%;
    background-size: 100% 100%;
}


.intro_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.intro {
    display: inline-block;
    width: 50%;
    padding-bottom:2rem;
    margin-top: 1rem;
}


@media screen and (max-width: 768px ){
    .container{
        flex-direction: column;
    }

    .my_head,
    .intro {
        width: 100%;
    }
}