---
layout: layouts/error.njk
permalink: 404.html
title: 404
eleventyExcludeFromCollections: true
---

<div class="flex flex-wrap items-center justify-center">
  <h1>404</h1>
  <p class="text-center text-2xl font-bold">
    uh, nothing to see here. Good day.
  </p>
  <a href="/">Home</a>
</div>