---
layout: layouts/default.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div id="error-msg">
  <h1 id="msg">uh, nothing to see here. Good day. <a href="/" class="btn-primary">Go home</a></h1>
</div>
