---
layout: layouts/default.njk
title: Home
eleventyNavigation:
  key: Home
  order: 1
---

<article class="intro">
  <h1>Hello</h1>
  <p>
    I build things and take pictures. I'm a
    <strong>Full-stack developer</strong>
    and
    <strong>photographer</strong>,
                                                          based out of Vancouver, British Columbia.
  </p>
  <button id="copy-email" class="inline-copy" data-copy="lukundu.lako@gmail.com">
    lukundu.lako@gmail.com<span class="confirmation">Copied</span>
    <ion-icon name="copy-outline"></ion-icon>
  </button>
</article>