---
layout: layouts/default.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="intro_wrapper">
<article class="intro">
  <h1>Hello</h1>
  <p>
      I build things and take pictures. I'm a <strong>Full-stack developer</strong> and <strong>photographer</strong>, based out of Vancouver, British Columbia. 
  </p>
  <p> Let's chat! <a href="mailto:lukundu.lako@gmail.com" class="link"> <strong>send me an Email</strong></a> at <button class="inline-copy" data-copy="lukundu.lako@gmail.com" onclick="copyText(this)">lukundu.lako@gmail.com<span class="confirmation">Copied</span><ion-icon name="copy-outline"></ion-icon></button></p> 
</article>
</div>
