---
layout: layouts/default.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="intro_wrapper">
<div class="my_head">
  <img src="{{ '/img/eatting-cookie.jpeg' | url }}" alt="my face while eatting a cookie" />
</div>
<div class="intro">
  <p>
      I build things and take pictures. I'm a <strong>Full-stack developer</strong> and <strong>photographer</strong>, based out of Ottawa, Ontairo. 
  </p>
  <p> Let's chat! <a href="mailto:lukundu.lako@gmail.com" class="link"> <strong>send me an Email</strong></a> at <button class="inline-copy" data-copy="lukundu.lako@gmail.com" onclick="copyText(this)">lukundu.lako@gmail.com<span class="confirmation">Copied</span><ion-icon name="copy-outline"></ion-icon></button></p> 

  <div class="social-links">
    <a class="link" href="https://www.instagram.com/lukundu/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
    <a class="link" href="https://ca.linkedin.com/in/lukundu-lako" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
    <a class="link" href="https://github.com/thuslako" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
    <a id="cv" name="cv" class="btn-cv" rel="noopener" target="_blank" href="https://drive.google.com/file/d/1KtCAx1eRWHA5dEXIIV9AAlHJsmVphoW1/view?usp=sharing" download="">CV <ion-icon name="document-text-outline"></ion-icon></a>
  </div>
</div>
</div>
