---
layout: layouts/photo.njk
eleventyNavigation:
  key: Photographery
  order: 2
---

<header>
  <h1>My Photographery collection</h1>
  <p>
    Photographery is my way sharing with with people and the world. You'll find a collections of my favourite images from a stupid amount images captured over the years.
  </p>
  <strong>Enjoy 😁🤙🏾</strong>
</header>
<div class="collection">
  <h2>Coming soon</h2>
</div>
