---
layout: layouts/default.njk
tags: albums
title: Events
cover: /assets/events/cavs.jpg
colSize: col-span-3
---
<div class="gallery" onload="initGallery()">
  <div class="slide">
    <div class="content">
      <h1>Events</h1>
      <p>I really enjoy taking time to capture punctuated moments.</p>
    </div>
  </div>
  <div class="slide">
    {% image './assets/events/third_beach.jpg',
    'Third beach Downtown Vancouver',
    'auto' %}
    <button class="info-btn">
      <figcaption>Third Beach drum circle day</figcaption>
      <ion-icon name="information-circle-outline"></ion-icon>
    </button>
    </div>
    <div class="slide">
      {% image './assets/events/cavs.jpg',
      'Cavs finals game',
      'auto' %}
      <button class="info-btn">
        <figcaption>Cavs vs Wizards Finals</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </div>
    <div class="slide">
      {% image './assets/events/leven-kali.jpg', 'Leven Kali live show ', 'auto' %}
      <button class="info-btn">
        <figcaption>Leven Kali</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </div>
    <div class="slide">
      {% image './assets/events/chiiild.jpg',
      'Live from Toronto, Chiiild',
      'auto' %}
      <button class="info-btn">
        <figcaption>Chiiild</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </div>
  </div>