---
layout: layouts/default.njk
tags: albums
title: Events
cover: /assets/travel/cavs.jpg
colSize: album-span-3
---
<div class="gallery">
  <div class="slide">
    <div class="content">
      <h1>Events</h1>
      <p>I really enjoy taking time to capture punctuated moments. Seeking that image which best captures the essence of the moment. </p>
    </div>
  </div>
  <div class="slide">
    <img src="{{ '/assets/events/third_beach.jpg' | url }}" alt="Third beach Downtown Vancouver" />
    <button class="info-btn">
      <figcaption>Third Beach drum circle day</figcaption>
      <ion-icon name="information-circle-outline"></ion-icon>
  </div>
  <div class="slide">
    <img src="{{ '/assets/events/cavs.jpg' | url }}" alt="Cavs finals game" />
      <button class="info-btn">
      <figcaption>Cavs vs Wizards Finals</figcaption>
      <ion-icon name="information-circle-outline"></ion-icon>
    </button>
  </div>
  <div class="slide">
    <img src="{{ '/assets/events/chiiild.jpg' | url }}" alt="Live from Toronto, Chiiild" />
      <button class="info-btn">
      <figcaption>Chiiild</figcaption>
      <ion-icon name="information-circle-outline"></ion-icon>
    </button>
  </div>
  <div class="slide">
    <img src="{{ '/assets/events/leven-kali.jpg' | url }}" alt="Live from Seattle, Leven Kali" />
      <button class="info-btn">
      <figcaption>Leven Kali</figcaption>
      <ion-icon name="information-circle-outline"></ion-icon>
    </button>
  </div>
</div>
