---
layout: layouts/default.njk
tags: albums
title: Life
cover: /assets/life/summer_fishing.jpg
colSize: col-span-1
---

<div class="gallery">
  <div class="slide">
    <div class="content">
      <h1>Life moments</h1>
      <p>These are momemnts out of my life which held my attention. Whether going for walk, out on a trip, or Just day to day. </p>
    </div>
  </div>
  <div class="slide">
    <figure>
      <img src="{{ '/assets/life/summer_fishing.jpg' | url }}" alt="boy fishing by the river"/>
      <button class="info-btn">
        <figcaption>Summer fishing</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </figure>
  </div>
  <div class="slide">
    <figure>
      <img src="{{ '/assets/life/summer_camper.jpg' | url }}" alt="parked camper"/>
      <button class="info-btn">
        <figcaption>Summer camper</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </figure>
  </div>
  <div class="slide">
    <figure>
      <img src="{{ '/assets/life/h5.jpg' | url }}" alt="Jump for high five"/>
      <button class="info-btn">
        <figcaption>High five at Capilano </figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </figure>
  </div>
    <div class="slide flex-100 ">
    <figure>
      <img src="{{ '/assets/life/engerizer.jpg' | url }}" alt="engerizer bunny"/>
      <button class="info-btn">
        <figcaption>engerizer bunny</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </figure>
  </div>
  <div class="slide">
    <figure>
      <img src="{{ '/assets/life/cow.jpg' | url }}" alt="cow mascot"/>
      <button class="info-btn">
        <figcaption>Shop cow mascot</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </figure>
  </div>
  <div class="slide">
    <figure>
      <img src="{{ '/assets/life/subway-ny.jpg' | url }}" alt="inside subway"/>
      <button class="info-btn">
        <figcaption>Father and son</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </figure>
  </div>
</div>