---
layout: layouts/default.njk
tags: albums
title: Life
cover: /assets/life/summer_fishing.jpg
colSize: col-span-1
---

<div class="gallery">
  <div class="slide">
    <div class="content">
      <h1>Life</h1>
      <p>I enjoy documenting all the moments 😁</p>
    </div>
  </div>
  <div class="slide">
    <figure>
      {# new image passed through image shortcode to generate webp #}
      {% image './assets/life/summer_fishing.jpg', 'Summer fishing', "auto" %}
      <button class="info-btn">
        <figcaption>Summer fishing</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </figure>
  </div>
  <div class="slide">
    <figure>
      {% image './assets/life/summer_camper.jpg', 'Summer camper', "auto" %}
      <button class="info-btn">
        <figcaption>Summer camper</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </figure>
  </div>
  <div class="slide">
    <figure>
      {% image './assets/life/h5.jpg', 'High five at Capilano', "auto" %}
      <button class="info-btn">
        <figcaption>High five at Capilano </figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </figure>
  </div>
  <div class="slide flex-100 ">
    <figure>
      {% image './assets/life/engerizer.jpg', 'Engerizer bunny', "auto" %}
      <button class="info-btn">
        <figcaption>engerizer bunny</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </figure>
  </div>
  <div class="slide">
    <figure>
      {% image './assets/life/cow.jpg', 'Shop cow mascot', "auto" %}
      <button class="info-btn">
        <figcaption>Shop cow mascot</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </figure>
  </div>
  <div class="slide">
    <figure>
      {% image './assets/life/subway-ny.jpg', 'Inside subway', "auto" %}
      <button class="info-btn">
        <figcaption>Father and son</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </figure>
  </div>
</div>