---
eleventyExcludeFromCollections: true
layout: layouts/default.njk
tags: albums
title: Portraits
cover: /assets/seattle.jpg
colSize: album-span-2
---
<div class="gallery">
  <div class="slide">
    <div class="content">
      <h1>Portraits</h1>
      <p>Client and friends</p>
    </div>
  </div>
  <div class="slide">
    <img src="{{ '/assets/seattle.jpg' | url }}" alt="me" />
  </div>
  <div class="slide">
    <img src="{{ '/assets/seattle.jpg' | url }}" alt="me" />
  </div>
  <div class="slide">
    <img src="{{ '/assets/seattle.jpg' | url }}" alt="me" />
  </div>
</div>
