---
eleventyExcludeFromCollections: true
layout: layouts/default.njk
tags: albums
title: Product
cover: /assets/product/airforce1.jpg
colSize: col-span-2
---
<div class="gallery">
  <div class="slide">
    <div class="content">
      <h1>Product</h1>
      <p>Client and personal product photography projects</p>
    </div>
  </div>
  <div class="slide">
    <img src="{{ '/assets/product/airforce1.jpg' | url }}" alt="Battle tested Airforces"/>
    <button class="info-btn">
      <figcaption>Broken in Airforces 1</figcaption>
      <ion-icon name="information-circle-outline"></ion-icon>
    </div>
    <div class="slide">
      <img src="{{ '/assets/product/bmw.jpg' | url }}" alt="akinmoto gloves"/>
      <button class="info-btn">
        <figcaption>akinmoto gloves</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </div>
    <div class="slide">
      <img src="{{ '/assets/product/bmw-2.jpg' | url }}" alt="akinmoto gloves close up"/>
      <button class="info-btn">
        <figcaption>akinmoto gloves close up</figcaption>
        <ion-icon name="information-circle-outline"></ion-icon>
      </button>
    </div>
  </div>