---
eleventyExcludeFromCollections: true
tag: album
title: Moments
layout: layouts/album.njk
templateClass: album
---

<div id="album-gallery" class="gallery">
  <div class="slide">
    <h1>Moments</h1>
    <p>This gallery containing some of my favourite shared moments</p>
  </div>
  <div class="slide">
    <img src="{{ '/assets/seattle.jpg' | url }}" alt="me" />
  </div>
  <div class="slide">
    <img src="{{ '/assets/seattle.jpg' | url }}" alt="me" />
  </div>
  <div class="slide">
    <img src="{{ '/assets/seattle.jpg' | url }}" alt="me" />
  </div>
</div>
