---
eleventyExcludeFromCollections: true
tag: album
title: Moments
layout: layouts/album.njk
templateClass: album
---

<div id="album-gallery">
  <div class="gallery">
    <div class="gallery-page">
      <h1>Moments</h1>
      <p>This gallery containing some of my favourite shared moments</p>
    </div>
    <div class="gallery-page"><img src="../assets/seattle.jpg" alt="me" /></div>
    <div class="gallery-page"><img src="../assets/seattle.jpg" alt="me" /></div>
    <div class="gallery-page"><img src="../assets/seattle.jpg" alt="me" /></div>
  </div>
</div>
