---
templateClass: portfolio
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {% if album.title %}
      <title>Lukundu | {{ album.title }}</title>
    {% else %}
      <title>Lukundu</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Portfolio showcase for projects and photography and mini shop for limited prints"/>
    <link rel="icon" type="image/png" href="/favicon.ico"/>
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
  </head>
  <body {% if templateClass %} class="{{ templateClass }}" {% endif %}>
    <header>
      <span class="copywrite">&copy; Lukundu</span>
    </header>
    <main>
      <div>
        {{ content | safe }}
      </div>
    </main>
    <script src="{{ '/js/gallery.js' | url }}" type="module"></script>
  </body>
</html>