---
templateClass: portfolio
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {% if title %}
      <title>| {{ title }}</title>
    {% else %}
      <title>Lukundu</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio showcase for projects and photography and mini shop for limited prints">
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="{{ '/assets/favicon.ico' | url }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Noto+Sans&display=swap" rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.min.js" integrity="sha512-WJXVjqeINVpi5XXJ2jn0BSCfp0y80IKrYh731gLRnkAS9TKc5KNt/OfLtu+fCueqdWniouJ1ubM+VI/hbo7POQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="{{ '/js/index.js' | url }}"></script>
  </head>
  <body {% if templateClass %} class="{{ templateClass }}" {% endif %}>
    <header>
      <span class="copywrite">&copy; Lukundu</span>
    </header>
    <main>
      <nav>
        <div class="full-menu">
          <ul class="site-menu">
            <li>
              <a class="link" href="{{ '/' | url }}">Home</a>
            </li>
            <li>
              <a class="link" href="{{ '/gallery' | url }}">Gallery</a>
            </li>
          </ul>
          <div class="connections social-links">
            <a class="link" href="https://www.instagram.com/lukundu/" target="_blank" title="checkout my instagram" rel="noopener">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a class="link" href="https://ca.linkedin.com/in/lukundu-lako" target="_blank" title="Connect on LinkedIn" rel="noopener">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <a class="link" href="https://github.com/thuslako" target="_blank" title="Browse my Githab projects" rel="noopener">
              <ion-icon name="logo-github"></ion-icon>
            </a>
            <a
            class="link download"
            rel="noopener"
            target="_blank"
            href="https://drive.google.com/file/d/1KtCAx1eRWHA5dEXIIV9AAlHJsmVphoW1/view?usp=sharing"
            download=""
            title="Download CV"
            >
              <ion-icon name="download"></ion-icon>
            </a>
          </div>
        </div>
        <a class="mobile-menu">
          <ion-icon name="menu"></ion-icon>
        </a>
      </nav>
      <div id="lightbox"></div>
      <div class="container">
        {{ content | safe }}
      </div>
    </main>
  </body>
</html>