<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lukundu Lako</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
<nav>
    <span class="logo"> Lukundu</span>
    <ul>
        <a href="/albums"><li>Albums</li></a>
        <a href="/"><li>CV</li></a>
    </ul>
</nav>
 <main class="container">
    {% if title %}<h1>{{title}}</h1>{% endif %}
    {{content}}
  </main>
  <footer>
    <div>
        <span>&copy; Lukundu Lako</span>
    </div>
  </footer>
</body>
</html>