---
templateClass: body-dark
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link  href="{{ '/css/style.css' | url }}" rel="stylesheet"/>    
    <title>Lukundu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio showcase for projects and photography and mini shop for limited prints">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Noto+Sans&display=swap" rel="stylesheet" /> 
</head>
<body {% if templateClass %} class="{{templateClass}}" {% endif %}>
<nav>
    <span class="logo"><a href="/">&copy; Lukundu</a></span>
</nav>
 <main class="container"  >
    {% if title %}<h1>{{title}}</h1>{% endif %}
    {{ content | safe }}
  </main>
  <script src="{{ '/js/index.js' | url }}" type="text/javascript"></script>
  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js" type="text/javascript"></script>
</body>
</html>